<div class="container">
    <h1 class="row justify-content-center display-4">Welcome</h1>
    <% if current_user %>
    <h4 class="row justify-content-center">Logged in as : <%= current_user.email %></h4>
    <div class="form-group row justify-content-center">
        <%= button_to "logout" , logout_path, method: :delete ,class: 'form-control btn-danger'%>
    </div>
    <% end %>
    <div class="form-group">
        <h3 class="row justify-content-center">Create user account</h3>
        <h4 class="row justify-content-center"><%= link_to "Sign Up",signup_path %></h4>
        <h4 class="row justify-content-center"><%= link_to "Log in",login_path %></h4>
        <h4 class="row justify-content-center"><%= link_to "Post List",post_list_path %></h4>
        
    </div>
</div>

