<div class="container">
<h4 class="row justify-content-center display-4">User List</h4>
 <%= link_to 'Create User' ,signup_path %>
<% if @users.present? %>
<div class="row justify-content-center">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">UserName</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.username %></td>
              <td><%= user.email %></td>
              <td><%= user.password_digest %></td>
              <td><%= link_to 'Delete',
              user_path(user.id),
              method: :delete,
              data: { confirm: 'Are you sure to delete?' } %>
        </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% else %>
  <% end %>
</div>
</div>